{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Node.club{% endblock %}

{% block page_content %}
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Progress</th>
                <th>Dependencies</th>
                <th>Color</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start }}</td>
                <td>{{ task.end }}</td>
                <td>{{ task.progress }}</td>
                <td>{{ task.dependencies }}</td>
                <td>{{ task.color }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-12">
        <div class="gantt-target"></div>
        <script>
        /*
        var tasks = [
        {
            start: '2020-04-01',
            end: '2020-06-01',
            name: 'ERPNext.club网站设计',
            id: "Task 0",
            progress: 100
        },
        {
            start: '2020-04-01',
            end: '2020-04-14',
            name: '架构设计',
            id: "Task 1",
            progress: 5,
            dependencies: 'Task 0'
        },
        {
            start: '2020-04-01',
            end: '2020-06-01',
            name: '前端',
            id: "Task 4",
            progress: 0,
            dependencies: 'Task 1'
        },
        {
            start: '2020-04-01',
            end: '2020-04-14',
            name: '页面结构',
            id: "Task 7",
            progress: 0,
            dependencies: 'Task 4',
        },
        {
            start: '2020-04-01',
            end: '2020-06-01',
            name: '后端',
            id: "Task 5",
            progress: 0,
            dependencies: 'Task 1',
            custom_class: 'bar-milestone'
        },
        {
            start: '2020-04-01',
            end: '2020-04-14',
            name: '数据库设计',
            id: "Task 6",
            progress: 0,
            dependencies: 'Task 5',
        }
        
    ]*/
    
    var getJSON = function(url, type) {  
      type = type || 'get';  
      return new Promise(function(resolve, reject) {  
        var xhr = new XMLHttpRequest();  
        xhr.open(type, url, true);  
        xhr.responseType = 'json';  
        xhr.onload = function() {  
          var status = xhr.status;  
          if (status == 200) {  
            resolve(xhr.response);  
          } else {  
            reject(status);  
          }  
        };  
        xhr.send();  
      });  
    }; 
    getJSON('/projectdata?id=1').then(function(data){  
        var tasks = data;
        var gantt_chart = new Gantt(".gantt-target", tasks, {
        on_click: function (task) {
            console.log(task);
        },
        on_date_change: function(task, start, end) {
            console.log(task, start, end);
        },
        on_progress_change: function(task, progress) {
            console.log(task, progress);
        },
        on_view_change: function(mode) {
            console.log(mode);
        },
        view_mode: 'Month',
        language: 'en'
        });
        console.log(gantt_chart);
    }, function(status) {  
        console.log('Something went wrong, status is ' + status);  
    }); 

</script>
</div>


{% endblock %}
