{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Node.club{% endblock %}

{% block page_content %}
<h1>Creat New Projects</h1>
{{ wtf.quick_form(form) }}
<div>
    <h1>Projects List</h1>
    <table class="table">
            <tr>
                <th>Name</th>
                <th>Introduction</th>
                <th></th>
            </tr>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td><td>{{ project.intro }}</td><td><a href="/projectview?id={{project.id}}">View</a></td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}
<!--
{% block scripts %}
{{ super() }}
{{ ckeditor.load() }}
{% endblock %}
-->