{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Node.club{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="./css/frappe-gantt.css" />
<link rel="stylesheet" href="./css/bootstrap-datetimepicker.css" />
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edite Task</h4>
            </div>
            <div class="modal-body" id="task_form">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" data-id="" id="name" placeholder="">
                </div>
                <div class="form-group">
                    <label>Start</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" id="start"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>End</label>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" id="end"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Progress</label>
                    <input type="number" class="form-control" id="progress" placeholder="">
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <select class="form-control" id="color">
                        <option>red</option>
                        <option>green</option>
                        <option>orang</option>
                        <option>violet</option>
                        <option>grey</option>
                      </select>
                </div>
                <div class="form-group" id="dependencies">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="save_changes">Save changes</button>
            </div>
          </div>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12">
        <div class="col-md-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li><span id="create" class="glyphicon glyphicon-plus" aria-hidden="true"></span></li>
                  <li><span id="save" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></li>
                </ul>
              </nav>
        </div>
        <div class="col-md-8 text-right">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li id="year"><span>Year</span></li>
                  <li id="month"><span>Month</span></li>
                  <li id="week"><span>Week</span></li>
                  <li  id="day"><span>Day</span></li>
                  <li  id="half_day"><span>Half Day</span></li>
                  <li  id="quarter_day"><span>Quarter Day</span></li>
                </ul>
              </nav>
        </div>
        <div class="col-md-12">
            <div class="gantt-target"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="./js/frappe-gantt.js"></script>
<script src="./js/moment-with-locales.js"></script>
<script src="./js/bootstrap-datetimepicker.js"></script>
<script src="./js/projectview.js"></script>
{% endblock %}
